name: Build & Publish

on:
  push:
    tags:
      - "v*"          
  workflow_dispatch: 

permissions:
  contents: read
  packages: write

jobs:
  build-and-publish:
    name: Build & Publish to npm
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build Library
        run: bun run build

      - name: verify build
        run: ls -R dist

      - name: Publish to npm
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          bun publish --access public
